.card {
  width: 100%;
  max-width: 22rem;
  overflow: hidden;
  margin: auto;
  min-height: 740px;
  position: relative;
  box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.418);
  border: 0px;
}
.container-img {
  min-height: 490px;
  max-height: 512px;
}
.pagination {
  display: flex;
  justify-content: center;
}
.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
  cursor: pointer;
}
.dot.active {
  background-color: #212529;
  width: 2rem;
  border-radius: 2rem;
  cursor: auto;
}
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.forward, .rewind {
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}